@import "variables"
@import "animation"

html
  font-size: 14px
  height: 100%

body
  font-size: 1rem
  color: $text-color
  height: 100%
  margin: 0
  padding: 0
  background-size: 100% auto
  line-height: 1.25
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body, button, input, select, textarea
  font-family: $font

nav ul
  list-style: none
  li
    list-style: none
a
  text-decoration: none

.bg-white
  background-color: white

.icon
  color: currentColor

.bold
  font-weight: bold !important

.text-gray
  color: $text-gray

.bg-gray
  background-color: $bg-grey

.clickable
  cursor: pointer

.full-height
  height: 100%
.full-width
  width: 100%

.is-size1
  font-size: $size-1
.is-size2
  font-size: $size-2
.is-size3
  font-size: $size-3
.is-size4
  font-size: $size-4
.is-size5
  font-size: $size-5

.text-centered
  text-align: center

.flex
  display: flex
.flexbox
  display: flex
  align-items: center
.flex,
.flexbox
  > :not(:last-child)
    margin-right: .5em
  &.has-centered
    justify-content: center
  &.has-space-evenly
    justify-content: space-evenly
    > *
      flex: 1
  &.has-space-between
    justify-content: space-between
    > :not(:last-child)
      margin-right: 0
  &.has-space-around
    justify-content: space-around
    > :not(:last-child)
      margin-right: 0
  &.has-baseline
    align-items: baseline
  &.has-flex-end
    align-items: flex-end
  .right
    margin-left: auto
  .center
    margin-left: auto
    margin-right: auto
  .icon + span
    margin-left: initial

.box
  color: inherit
